.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 1rem;
}

.sign-out-button {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: none;
    display: inline-flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.sign-out-button:hover {
    background-color: #575757;
    border-radius: 4px;
}