.card {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    gap: 10px;
    border: 1px solid lightgray;
    padding: 20px;
  }
  
  .title {
    font-family: Outfit, sans-serif;
    font-weight: 100;
    color: var(--mantine-color-white);
    line-height: 1.2;
    font-size: 12px;
    margin-top: var(--mantine-spacing-xs);
  }
  
  .category {
    color: var(--mantine-color-white);
    opacity: 0.7;
    font-weight: 700;
    text-transform: uppercase;
  }